# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic output from local .npmrc
.npm

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented coverage reports
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.nyc_output

# Grunt intermediate storage (https://gruntjs.com/builtin-tasks/grunt-contrib-clean#grunt-contrib-clean)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node_modules
node_modules

# Vite build output
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
